.fullpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:Cambria;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}

.quote-author {
    align-self: flex-end;
    padding-right: 100px;
    color: black;
}

.quote-header {
    font-family:Cambria;
    font-weight: lighter;
    color: black;
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family:Cambria;
    font-weight: lighter;
}

ul {
    list-style-type: none;
   
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.login:hover,
.signup:hover,
.aboutus:hover,
.button-signup:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    /* border-radius makes rounded corners */
}

/* First Bar */

.first-bar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.computer {
    width: 450px;
    height: auto;
}

.container-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:350px;
    height:350px;
    gap: 5px; 
}

.container-first p {
    font-size: 20px;
    margin: 0;
}

.container-first h1 {
    margin: 0;
}

.button-signup {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color:#2196F3;
    border-radius: 5px;
    font-size: 16px;
}