.fullpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:Cambria;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}

.quote-author {
    align-self: flex-end;
    padding-right: 100px;
    color: black;
}

.quote-header {
    font-family:Cambria;
    font-weight: lighter;
    color: black;
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family:Cambria;
    font-weight: lighter;
}

ul {
    list-style-type: none;
   
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login:hover,
.signup:hover,
.aboutus:hover {
    cursor: pointer;
    color: grey;
}